*{
        
        margin: 0px;
}

.logo {
  float: left;
  width: 50px;
  height: 100px;
  padding-left: 100px; 
}
.logo img{
 margin-top: 0px;
}
h1 {
  position: relative;
  top: 15px;
  left: 15px;
  text-align: center;
  margin: 15px;
  letter-spacing: 5px;
  font-weight: 500;
 

}
	
 .menu ul { 
        display: inline;
        margin-right: 0px;
        margin-left: 0px;
        padding: 5px;
        float: left;
        background-color: black;
        width: 1309px;
         margin-top: -4px;
}
 
 .menu ul li {
         display: inline;
         margin: 10px;
         padding: 5px 5px;
         font-weight: lighter;
 } 
 .menu li:hover {
      background-color: red; 
 }
 
 #AnimationText {
        color: green;
        list-style: none;
        font-family: sans-serif;
        font-style: oblique;
        float: center;
        line-height: 1.4rem;
        letter-spacing: 0.5rem;
        margin: 50px;
 }
 .AnimationBox{
        width: 1300px;
        height: 350px;
        position: absolute;
        left: 0.6%;
        top: 37%;
        background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
        background-size: 100%;
        transform: translate(-0%, -20%);
        box-shadow: 0.5px 0.5px 10px 8px black;
        animation: slider 15s infinite linear;      
 }
  @keyframes slider{
        0% {
                background-image: url('https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
           }
        35%{
                background-image: url('https://images.pexels.com/photos/257886/pexels-photo-257886.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
           }
        75%{
                background-image: url('https://images.pexels.com/photos/159235/computer-technology-pc-electronics-159235.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
           }
  }
  
 .SearchForm{
         margin-top: 15px;
         float: right;
         margin-right: 50px;
         
 }
 
 input [type=text]{
         padding: 10px;
         border: none;
         font-size: 8px;
         font-family: sans-serif;
 }
 
 button{
      float: right;
      background: skyblue;
      color: white;
      padding: 10px 1px 1px 8px;
      cursor: pointer;
      position: relative;
      border-radius: 0px 2px 2px 0px
      
 }
 
 
 
 